# Copyright 2025 Flant JSC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{/*

Template to bake mount points in the image. These static mount points
are required so containerd can start a container with image integrity check.

Problem: each directory specified in volumeMounts items should exist
in image, containerd is unable to create mount point for us when
integrity check is enabled.

Solution: define all possible mount points in mount-points.yaml file and
include this template in git section of the werf.inc.yaml.

*/}}
{{/* NOTE: Keep in sync with version in Deckhouse CSE */}}
{{- define "image mount points" }}
{{-   $mountPoints := ($.Files.Get (printf "images/%s/mount-points.yaml" $.ImageName) | fromYaml) }}
{{-   $context := . }}
{{-   range $v := $mountPoints.dirs }}
- add: /tools/mounts/mountdir
  to: {{ $v | trimSuffix "/" }}
  stageDependencies:
    install:
    - "**/*"
{{-   end }}
{{-   range $v := $mountPoints.files }}
- add: /tools/mounts/mountfile
  to: {{ $v }}
  stageDependencies:
    install:
    - "**/*"
{{-   end }}
{{- end }}
